@font-face {font-family: "NotoSansSC"; src: url("/fonts/NotoSansSC-Regular.ttf");}
@font-face {font-family: "NotoSansSC"; src: url("/fonts/NotoSansSC-Bold.ttf"); font-weight: bold;}
@font-face {font-family: "NotoSerifSC"; src: url("/fonts/NotoSerifSC-Regular.otf");}
@font-face {font-family: "NotoSerifSC"; src: url("/fonts/NotoSerifSC-Bold.otf"); font-weight: bold;}
